+import('../../bower_components/core-ajax/core-ajax.html')

+polymer-element(attributes='path response fetchEvery' nocss)
  template(if='{{ path && config.requestToken }}')
    core-ajax.ajax-data(auto
                        url="https://api.github.com/{{ path }}"
                        headers="{{ {'Authorization': 'token '+config.requestToken} }}"
                        response="{{ response }}"
                        on-polymer-response="{{ onResponse }}"
                        handleAs="json")

    template(repeat='{{ page in pages }}')
      core-ajax(auto
                url="https://api.github.com/{{ path }}?page={{ page }}"
                headers="{{ {'Authorization': 'token '+config.requestToken} }}"
                on-polymer-response="{{ onPageResponse }}"
                handleAs="json")
